@import 'vars';
@import '../themes/default.scss';
@import '../themes/dark.scss';

@font-face {
  font-family: Gilroy;
  src: local('Gilroy'), url('../../shared/assets/fonts/Gilroy-Regular.woff2') format('woff');
}

@font-face {
  font-family: Gilroy;
  src: local('GilroyMedium'), url('../../shared/assets/fonts/Gilroy-Medium.woff2') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: local('GilroyBold'), url('../../shared/assets/fonts/Gilroy-Bold.woff2') format('woff');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-color: var(--app-secondary-bg);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  background-color: var(--app-secondary-bg);
  display: flex;
  height: 100dvh;
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  width: 100%;
  box-shadow: var(--app-message-shadow);
}

.icon * {
  stroke: var(--app-gray);
}
.icon:hover * {
  transition: all 0.25s ease;
  stroke: var(--app-accent);
}

.main-section {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  overflow: hidden;
  &__content {
    display: flex;
    flex: 1;
    &--empty {
      color: var(--app-primary-text);
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

a {
  text-decoration: none;
  color: var(--app-primary-text);
}

@media screen and (max-width: 425px){
  .main {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  .main-section {
    height: auto;
    position: relative;
  }
  .main__wrapper {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
  }
}

