.form {
  padding: 16px 32px;
  background-color: var(--app-primary-bg);
  border-radius: 8px;
  color: var(--app-secondary-text);
  width: 520px;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--app-border);
    .title {
      font-size: 18px;
    }
    .close {

    }
  }
  .search {
    padding: 1em 0;
  }
  .body {

  }
  .footer {

  }
}