.messages__input {
  padding: 1em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .input__block {
    padding-top: 1em;
    border-top: 1px solid var(--app-border);
    display: flex;
    align-items: flex-end;
    gap: 1.5em;
    .attach {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .input__body {
      flex-grow: 1;
      transition: all 250ms ease-in;
    }
    .input__scroller {
      max-height: 200px;
      overflow: auto;
      transition: all 250ms ease-in;
      position: relative;
      .placeholder {
        position: absolute;
        color: var(--app-primary-text);
        padding: 0.5em;
        top: 0;
      }
      .input {
        position: relative;
        color: var(--app-primary-text);
        padding: 0.5em;
        word-break: break-word;
        white-space: pre-wrap;
        width: 100%;
        height: auto;
        outline: none;
        transition: all 250ms ease-in;
        z-index: 1;
        &::before {
          content: attr(placeholder);
          cursor: text;
        }
      }
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--app-border);
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--app-gray);
      }
    }
    .send {
      transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      button:disabled {
        cursor: initial;
        svg {
          path {
            stroke: var(--app-gray);
          }
        }
      }
    }
  }
}
