.notifications {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 2rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  transform: translateY(-50%);
  gap: 1rem;
}
