.sidebar {
  background-color: var(--app-primary-bg);
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 32px 0;
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: all 250ms ease;
    .icon {
      width: 32px;
      height: 32px;
      transition: all 250ms ease;
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .active {
    .icon * {
      stroke: var(--app-accent);
    }
  }
  .user {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    z-index: 99;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    &__nav {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .links {
        flex-direction: row;
      }
    }
    .user {
      margin: 0;
    }
  }
}
