.sidebar {
  background-color: var(--app-primary-bg);
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 32px 0;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: all 250ms ease;
    .icon {
      width: 32px;
      height: 32px;
      transition: all 250ms ease;
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  .active {
    .icon * {
      stroke: var(--app-accent);
    }
  }

  .user {
    margin-bottom: 32px;
  }
}
