html[data-theme='dark'] {
  --app-accent: #7428f0;
  --app-message: rgba(30, 35, 55, 30%);
  --app-hover-el: rgba(24, 23, 69, 15%);
  --app-primary-text: #fcfcfc;
  --app-secondary-text: #fcfcfc;
  --app-gray: #8a97a7;
  --app-primary-bg: #3a456b;
  --app-secondary-bg: #353E65;
  --app-controls: #1976d2;
  --app-online: #2fed7b;
  --app-tooltip: rgba(24, 23, 69, 75%);
  --app-modal-overlay: rgba(35, 31, 32, 0.5);
  --app-border: rgba(138, 151, 167, 20%);
  --app-ripple: rgba(30, 35, 55, .2);

  --app-shadow: 0 0 6px rgba(30, 35, 55, 25%);
  --app-message-shadow-main: 1px 2px 6px rgba(30, 35, 55, 50%);
  --app-message-shadow: -1px 2px 6px rgba(13, 31, 62, 60%);
  --app-input-shadow: -1px 1px 4px rgba(13, 31, 62, 40%);
  --app-input-shadow-active: -1px 2px 6px rgba(13, 31, 62, 50%);
}
