html[data-theme='default'] {
  --app-accent: #2f64ed;
  --app-message: #f8f9ff;
  --app-hover-el: #f6f7fc;
  --app-primary-text: #070928;
  --app-secondary-text: #fcfcfc;
  --app-gray: #8a97a7;
  --app-primary-bg: #fcfcfc;
  --app-secondary-bg: #fafafa;
  --app-controls: #4ca5ff;
  --app-online: #2fed7b;
  --app-tooltip: rgb(246, 247, 252, 80%);
  --app-modal-overlay: rgba(35, 31, 32, 0.5);

  --app-shadow: 0 0 6px rgba(35, 31, 32, 25%);
  --app-message-shadow-main: 1px 2px 6px rgba(69, 104, 232, 35%);
  --app-message-shadow: -1px 2px 6px rgba(138, 151, 167, 35%);
}

html[data-theme='dark'] {
  --app-accent: #7428F0;
  --app-message: rgba(30, 35, 55, 30%);
  --app-hover-el: rgba(24, 23, 69, 15%);
  --app-primary-text: #fcfcfc;
  --app-secondary-text: #fcfcfc;
  --app-gray: #8a97a7;
  --app-primary-bg: #3a456b;
  --app-secondary-bg: #353E65;
  --app-controls: #1976d2;
  --app-online: #2fed7b;
  --app-tooltip: rgba(24, 23, 69, 75%);
  --app-modal-overlay: rgba(35, 31, 32, 0.5);

  --app-shadow: 0 0 6px rgba(30, 35, 55, 25%);
  --app-message-shadow-main: 1px 2px 6px rgba(30, 35, 55, 50%);
  --app-message-shadow: -1px 2px 6px rgba(13, 31, 62, 60%);
}
