.interlocutor {
  padding: 2em 0 2em 1em;
  background-color: var(--app-primary-bg);
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 1em 2em 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--app-border);
    .name {
      color: var(--app-primary-text);
    }
    .isOnline {
      color: var(--app-online);
    }
  }
  .attaches {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__heading {
      display: flex;
      justify-content: space-between;
      padding: 0 1em;
      color: var(--app-gray);
    }
    &__body {
      overflow: hidden;
    }
    &__list {
      overflow: auto;
      padding-right: 1em;
      height: 100%;
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--app-border);
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--app-gray);
      }
    }
  }
}
