.input {
  border: none;
  outline: none;
  background-color: var(--app-message);
  box-shadow: 1px 2px 6px rgba(35, 31, 32, 0.25);
  border-radius: 8px;
  padding: 8px;
  color: var(--app-gray);
  font-family: Gilroy;
  font-size: 14px;
}
