.input {
  border: none;
  outline: none;
  background-color: var(--app-message);
  box-shadow: var(--app-message-shadow);
  border-radius: 8px;
  padding: 0.6em 1em;
  color: var(--app-gray);
  font-family: Gilroy, serif;
  font-size: 0.9em;
  width: 240px;
}
