.field {
  position: relative;
  &__input {
    border: none;
    outline: none;
    background-color: var(--app-message);
    border-radius: 8px;
    padding: 0.6em 2em 0.6em 1em;
    color: var(--app-primary-text);
    font-family: Gilroy, serif;
    font-size: 0.9em;
    width: 240px;
    box-shadow: var(--app-input-shadow);
    transition: all 250ms ease;
    &:focus {
      box-shadow: var(--app-input-shadow-active);
    }
  }
  &__before,
  &__after {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
  }
  &__before {
    left: 0.5em;
  }
  &__after {
    right: 0.5em;
  }
}
