@import "themes/default.scss";

@font-face {
  font-family: Gilroy;
  src: local('Gilroy'), url("../shared/assets/fonts/Gilroy-Regular.woff2") format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1300px;
  margin: 0 auto;

}