.attach {
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  transition: background-color 250ms ease;
  gap: 16px;
  &:hover {
    background-color: var(--app-hover-el);
  }
  .icon {

  }
  .body {
    overflow: hidden;
    .title {
      font-size: 14px;
      color: var(--app-primary-text);
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
    }
    .info {
      font-size: 10px;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      color: var(--app-gray);
    }
  }
}