.avatar {
  border-radius: 50%;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  span {
    font-weight: 500;
    color: var(--app-primary-text);
  }
  &__image {
    object-fit: cover;
    display: block;
  }
}

