.message {
  display: flex;
  gap: 8px;
  max-width: 400px;
  width: 100%;
  padding: 8px 0;
  color: var(--app-primary-text);
  &.isSelf {
    flex-direction: row-reverse;
    margin-left: auto;
    .body {
      background-color: var(--app-message);
      box-shadow: var(--app-message-shadow);
      border-radius: 16px 16px 0 16px;
      transition: color 250ms ease-in;
      color: var(--app-primary-text);
      position: relative;
      .status {
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--app-gray);
      }
    }
  }
  .user {
    align-self: flex-end;
    position: sticky;
    bottom: 0;
  }
  .body {
    background-color: var(--app-accent);
    border-radius: 16px 16px 16px 0;
    padding: 10px;
    box-shadow: var(--app-message-shadow-main);
    color: var(--app-secondary-text);
    font-size: 0.9em;
    word-break: break-all;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    &__content {

    }
    &__attachments {
      display: flex;
      gap: .5rem  ;
      .item {
        cursor: pointer;
      }

    }

  }

}
