.attach {
  border-radius: 0.5em;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  transition: background-color 250ms ease;
  gap: 1em;
  &:hover {
    background-color: var(--app-hover-el);
  }
  .icon {
    position: relative;
    display: flex;
    font-size: .65rem;
  }
  .body {
    overflow: hidden;
    .title {
      font-size: 0.9em;
      color: var(--app-primary-text);
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
    }
    .info {
      font-size: 0.7em;
      display: flex;
      justify-content: space-between;
      margin-top: 0.5em;
      color: var(--app-gray);
    }
  }
}
