.form {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  background-color: var(--app-primary-bg);
  border-radius: 8px;
  color: var(--app-secondary-text);
  width: 520px;
  max-height: 475px;
  height: 100%;
  letter-spacing: 0.02em;
  overflow: hidden;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--app-border);
    .title {
      font-size: 18px;
      color: var(--app-primary-text);
    }
  }
  .search {
    padding: 1.5em 0;
    &__field {
      background-color: var(--app-message);
      width: 100%;
      padding-right: 3rem;
    }
  }

  .body {
    border-top: 1px solid var(--app-border);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .list {
      padding: 1.5em 1em 0 0;
      overflow: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--app-border);
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--app-gray);
      }
      &__item {
        margin-bottom: 8px;
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .user {
            display: flex;
            align-items: center;
            gap: 1em;
            .name {
              color: var(--app-primary-text);
              font-weight: 500;
              font-size: 0.95em;
            }
          }
          .info {
            display: flex;
            gap: 64px;
            .status {
              color: var(--app-online);
              font-size: 0.9em;
              &--online {
                color: var(--app-online);
              }
              &--offline {
                color: var(--app-gray);
              }
            }
            .button {
              font-size: 0.95em;
              color: var(--app-gray);
              transition: color 0.25s ease-in-out;
              &:hover {
                color: var(--app-secondary-text);
              }
            }
          }
        }
      }
    }
    .empty {
      margin-top: 1rem;
    }
  }

  .footer {
  }
}
