.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--app-secondary-bg);
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(to right, transparent 0%, var(--app-primary-bg) 50%, transparent 100%);
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}