.theme__card {
  width: 155px;
  height: 90px;
  border-radius: 0.5em;

  box-shadow: var(--app-message-shadow);
  cursor: pointer;
}

.default {
  background-color: #f8f9ff;
}

.dark {
  background-color: #353e65;
}

.dark_g {
  background-color: #1b2240;
}
