
@font-face {
  font-family: Gilroy;
  src: local('Gilroy'), url("assets/fonts/Gilroy-Bold.woff2") format('woff');
}

body {
  margin: 0;
  font-family: Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

